.RightPage {
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .RightPage .RightPageTitle {
    text-align: center;
    font-family: cursive;
    font-size: 60px;
  }
  
  .RightPageList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  .tex1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .field1 {
    font-size: 20px;
    font-weight: bold;
  }
  .field2 {
    border-radius: 20px;
    padding-left: 35px
    
  } 
  .RightPagetitle {
    border-radius: 15px;
    width: 300px;
    height: 350px;
    margin: 20px;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  }
  .RightPagetitle:hover {
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.5);
    transition: 0.3s ease-in;
    transform: scale(1.1);
    cursor: pointer;
  }
  .menuList {
    width: 70vw;
    height: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
  }
  @media only screen and (max-width: 1300px) {
    .RightPageList {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media only screen and (max-width: 1000px) {
    .RightPageList {
      grid-template-columns: 1fr;
    }
  }
  @media only screen and (max-width: 800px) {
    .RightPageList {
      margin-left: -50px;
    }
    .RightPageTitle {
      font-size: 20px;
    }
  }
  @media only screen and (max-width:  650px) {
    .RightPageTitle{
      font-size: 15px;
    }
    .RightPageList {
      margin-left: 0px;
    }
  }